@font-face {
    font-family: "Faith";
    src: url("./Faith Collapsing.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OldEngland";
    src: url("./VTCSwitchbladeRomance.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "gil";
    src: url("./DeiGrat.ttf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1c1c1c;
    color: #111;

    font-family: Arial, Helvetica, sans-serif;
}


/* =========================
   CONTENEDOR
========================= */

.portfolio {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    margin: 0 auto;
    background: #f7f4f2;
}

/* =========================
   HEADER
========================= */

.header {
    height: 50px;

    padding: 0 150px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #f2f2f0;

    border-bottom: 1px solid #111;

    position: sticky;
    top: 0;

    z-index: 100;
}

/* LOGO */

.logo {
    color: #111;

    text-decoration: none;

    font-family: "gil", serif;

    font-size: 20px;

    letter-spacing: 10px;
    margin-left: -15px;
}


/* AÑO */

.year {
    font-size: 9px;

    letter-spacing: 1px;
}


/* =========================
   INTRO
========================= */

.intro {
    min-height: 86vh;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}



/* FOTO PRINCIPAL */

.intro-image {
    height: 60vh;
    overflow: hidden;
}

.intro-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* TEXTO */

.intro-text {
    margin-top: 0px;
    padding: 10px;
    margin-left: auto;
    text-align: right;
}

.intro-text h5 {
    font-size: 13px;
    margin: 0;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.intro-text h1 {
    font-family: "OldEngland", serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10px;
    line-height: 1;
    margin-top: 5px;
}

/* =========================
   WORKS
========================= */

.works {
    background: #fff8f0;

    padding: 0 10px;
}


/* CABECERA */

.works-header {
    height: 60px;

    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid #111;
    border-bottom: 1px solid #111;

    font-size: 13px;
    font-family: "new times roman", Times, serif;

    letter-spacing: 1.5px;
}


/* =========================
   CADA OBRA
========================= */

.work {


    height: 120vh;

    position: relative;

    margin: 0;
}


/* =========================
   IMAGEN FIJA
========================= */

.work-image {
    position: sticky;
    top: 55px;
    width: 100%;
    height: calc(100vh - 55px);
    overflow: hidden;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.work-image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
}


/* =========================
   INFORMACIÓN
========================= */

.work-info {

    /*
    La información está
    al final del bloque.

    Mientras scrolleás,
    sube por encima de la imagen.
    */

    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;

    min-height: 270px;

    padding: 25px 20px 20px;

    background: #f2f2f0;

    z-index: 2;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    border-top: 1px solid #111;
}


/* NÚMERO */

.work-number {

    display: block;

    font-size: 8px;

    letter-spacing: 2px;

    margin-bottom: 15px;
}


/* TÍTULO */

.work-info h2 {

    font-family: Georgia, "Times New Roman", serif;

    font-size: 52px;

    font-weight: 400;

    line-height: 1;

    letter-spacing: -3px;
}


/* =========================
   DETALLES
========================= */

.work-details {

    display: flex;

    justify-content: space-between;

    align-items: flex-end;

    padding-top: 15px;

    border-top: 1px solid #111;
}

.work-details p {

    font-size: 8px;

    text-transform: uppercase;

    letter-spacing: 1px;
}

.work-details span {

    font-size: 8px;
}


/* =========================
   FOOTER
========================= */

footer {

    background: #111;

    color: #f2f2f0;

    padding: 20px 15px;

    display: flex;

    justify-content: space-between;

    font-size: 8px;

    letter-spacing: 1px;
}


/* =========================
   DESKTOP
========================= */

@media (min-width: 600px) {

    .portfolio {

        box-shadow:
            0 0 40px rgba(0, 0, 0, 0.4);

    }

}